{{> head }}
    
{{> navbar }}

<div class="row">

<div class="col-8"></div>
    <h1>Titulo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, corrupti? Quam officia a 
        sequi. Eligendi optio quo nihil perspiciatis porro molestiae ut quam culpa. Quibusdam quos
         tenetur nobis in libero.</p>
</div>

<div class="col-4"></div>
    <img src="assets/img/asesorias.jpg" class="img-thumbnail">
</div>


{{> footer}}